<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products_list_view</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'inventory/styles.css' %}">
</head>
<body>
    <div class="product-container">
        {% for product in products %}
        <div class="product">
            <img src="{{ product.image.url }}" alt="Product images">
            <div class="product-details">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: {{ product.price }}</p>
                <a href="{% url 'product_detail_view' id=product.id %}">View product</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
