/* Reset default styles */
body, form {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
form {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Style form elements */
form p {
    margin-bottom: 10px;
}

/* Style input fields */
input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Style the submit button */
button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
button[type="submit"]:hover {
    background-color: #45a049;
}
